<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title">Contáctenos</h2>
          <p>Si deseas ponerte en contacto con la Universidad Tecnológica de Santander (UTS), aquí tienes la información de contacto:</p>
          <ul>
            <li><strong>Dirección:</strong> Calle 9 entre carreras 27 y 29, Bucaramanga, Santander, Colombia</li>
            <li><strong>Teléfono:</strong> +57 7 634 4000</li>
            <li><strong>Correo Electrónico:</strong> infouts.edu.co</li>
            <li><strong>Sitio Web:</strong> <a href="https://www.uts.edu.co">www.uts.edu.co</a></li>
            <a class="btn btn-primary btn-lg" href="#" role="button">Explorar más</a>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
